@import "tailwindcss";

:root {
  --background: #D5E4F7;
  --foreground: #0f172a;
  --darkblue:#1A3F76;
  --lightblue:#1078F9;
  --darkgray:#42648A;
  --lightgray:#6886a8;
  --lightYellow:#e9c46a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --darkBlue:var(--darkblue);
  --lightBlue:var(--lightblue);
  --darkGray:var(--darkgray);
  --lightGray:var(--lightgray);
  --lightYellow: var(--lightyellow);
}

::-webkit-scrollbar {
  display: none;
}


* {
  box-sizing: border-box;
    scrollbar-width: none;
  -ms-overflow-style: none;
}

@font-face {
    font-family: 'YekanBakh';
    src: url('../components/fonts/YekanBakhFaNum-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YekanBakh';
    src: url('../components/fonts/YekanBakhFaNum-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  background: var(--background);
  color: var(--foreground);
      font-family: 'YekanBakh', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

